#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_RUBY_IGNORE_TESTS=ruby1.8 require-rubygems
export DH_RUBY_GEMSPEC=bundler.gemspec

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_installman:
	for x in man/*.ronn; do \
		ronn -roff --pipe $$x > man/`basename $$x .ronn`; \
	done
	dh_installman

override_dh_clean:
	for x in man/*.ronn; do \
		rm -rf man/`basename $$x .ronn`; \
	done
	dh_clean
